

.coming-soon {
    margin-top: 3em;
    text-align: center;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    img{
        width: 90%;
    }
}


@media screen and (min-width: 600px) {
    .coming-soon {
        width: 30em;
    }
}
