

.forgot-pw {
    text-align: center;
    margin-top: 3em;
}

.pershkrimi-pw {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.hyrja-pw {
    text-align: center;
    label {
        display: block;
        font-weight: bold;
    }
    input { 
        height: 2em;
        width: 20em;
        outline: none;
        margin-top: 1em;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    button {
        font-family: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        cursor: pointer;
        border: none;
        height: 3em;
        margin-bottom: 2em;
        border-radius: .2em;
        padding: 0 1em;
        background: rgba(194, 193, 193, 0.672);
        color: black;
    }
    button:hover {
        background-color: rgb(174, 174, 174);
    }
    #pass1{
        margin-bottom: 1em;
    }
}