:root {
    //--black: rgba(8, 8, 8, .886);
    --black: #191919;
    --white: #ffffff;
    --gray: #ffffff9f;
    --graydarker: #A9A9A9;
    --graylight: #F5F5F5;
    --graylighter: #ececec;
    --graydarkest: #696969;
    --redheart: #E74C3C;
    --yellowbutton: #fdc54b;
}


.slider {
    .close-fullscreen {
        display: none;
        filter: invert(100%);
        float:right;
        margin-top: -6em;
        margin-right: .5em;
    }

    .close-fullscreen:hover {
        background: white;
        filter: invert(0);
        cursor: pointer;
    }
    position: relative;
    z-index: 0;
    .glide {
        .glide__track {
            img {
                width: 100%;
                cursor: zoom-in;
            }
        }
    }

}


.glide__slides {
    touch-action: auto;
    -ms-touch-action: auto;
  }


.glide__bullets {
    button {
        img {
            width: 100%;
        }
        width: 3em;
        height: 3em;
        border-radius: .15em;
        //backdrop-filter: ;
    }
}


.name {
    margin: .5em .5em;


    .price {
        font-weight: bold;
        color: rgba(43, 42, 42, 0.782);
        
        span {
            font-weight: lighter;
            font-size: small;
            text-decoration: line-through;
            color: rgb(41, 6, 6);
        }
    }

    .more-details {
        font-family: inherit;
        background-color: white;
        border: none;
        color: black;
        text-decoration: underline;
        cursor: pointer;
    }

    h5 {
        font-size: medium;
        margin-top: 1.5em;
        color:rgba(43, 42, 42, 0.782);

        span {
            padding-left: 1em;
            color: rgba(255, 183, 0, 0.809);
        }
    }

    .social-buttons {
        margin-top: -3.5em;
        margin-left: 12em;
        display: flex;
        
        img {
            margin-right: .5em;
            padding: .3em;
            width: 1.5em;
            border-radius: .4em;
        }

        img:hover { 
            cursor: pointer;
            background-color: rgba(197, 193, 193, 0.659);
        }


    }


    .buttons {
        display: flex;
        margin: 1.5em 0;
        button {
            font-family: inherit;
            font-weight: bold;
            color: white;
            background: var(--graydarker);
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;
            padding: 1em 1.5em;
            border:none;
            cursor: pointer;
            i {
                margin-top: .1em;
            }
        }
        button:hover{ 
            background: gray;
        }
        .heart {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: var(--redheart);
        }
        .heart:hover{
            background: #f12d17;
        }
        .right {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 2em;
            border-bottom-right-radius: 2em;
            background: var(--yellowbutton);
        }
        .right:hover {
            background: #efaa16;
        }
    }
}

.show-more-details {
    background-color: rgb(201, 198, 198);
    font-size: smaller;
    margin-bottom: 2em;
    margin-left: .5em;


    .table-row {
        
        td {
            padding: 1em 0;
            padding-left: 1em;
            span {
                font-weight: bold;
            }
        }
    }
    
    tr:nth-child(even){
        background-color: white;
    }
    
}

.makeitfullsize{ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position:fixed;
    backdrop-filter: blur(10px) brightness(.4);
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 7.5em;
    z-index: 99999;
    .glide {
        .glide__track {

                img {
                    cursor: zoom-out;
                    height: 25em;
                    object-fit:cover;
                    object-position:50% 50%;
                }
            
        }
    }

    .close-fullscreen {
        display: flex;
        
    }

}


@media screen and (min-width: 730px) {

    .slider {
        margin-top: 2em;
        img {
            padding-right: 8em;
            padding-left: 8em;
            width: 100%;
            height: 100%;
        }
        .glide__arrows {
            .glide__arrow--left {
                margin-left: 9em;
            }

            .glide__arrow--right {
                margin-right: 9em;
            }
        }
        .glide__bullets {
            button {
                img {
                    display: none;
                }
                width: 1em;
                height: 1em;
                border-radius: .15em;
                //backdrop-filter: ;
            }
        }
       
    }
    
    .name {
        margin-left: 8em;
        margin-right: 8em;
    }
    .show-more-details {
        margin-left: 9.5em;
        margin-right: 8em;
    }
    
    .makeitfullsize {
        margin-top: 0;
        img {
            padding: 0;
        }
        .glide__arrows {
            .glide__arrow--left {
                margin-left: 0;
            }

            .glide__arrow--right {
                margin-right: 0;
            }
        }
    }

}

